=link_to_back
-#= link_to 'Вернуться', tasks_path, class: 'btn btn-default'
%br
  %br
    %p
      %b Хозяин:
      = @task.user.first_name
    %p
      %b Место:
      = @task.place.name
    %p
      %b Приоритет:
      = @task.priority
    %p
      %b Дата проведения:
      = @task.date.strftime("%d.%m.%Y %H:%M")
    -if @current_user.id == @task.user_id
      = link_to 'Редактировать', edit_task_path(@task), class: 'btn btn-default'


