= form_for @contact_list do |f|
  =error_messages_for @contact_list

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :friend
    = f.text_field :friend
  .actions
    = f.submit 'Save'
