
%h1
  =@user.first_name
  =user_sex_icon(@user)
%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Second name:
  = @user.second_name
%p
  %b Male:
  =user_sex(@user)
%p
  %b E&ndash;mail:
  = @user.email
%p
  %b Birthday:
  = @user.birthday
   

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
