= form_for @place do |f|
  =error_messages_for @place

  .form-group
    = f.hidden_field :user_id, :value=>@current_user.id
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :address
    = f.text_field :address, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  .form-action
    = f.submit 'Создать', class: 'btn btn-primary'
